html{
  margin:0;
  padding:0;
  background:transparent;
}

body{
  margin:0;
  padding:20px;
  background:transparent;
}

.tiles{
  display:flex;
  gap:20px;

  opacity:0;
  transform:translateY(30px);

  animation:fadeUp .9s ease forwards;
}

@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(30px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}

.tile{
  position:relative;
  overflow:hidden;
  border-radius:16px;
  display:inline-block;
  transition:.3s;
}

.tile:hover{
  transform:translateY(-6px);
}

.image{
  display:block;
  width:500px;
  height:auto;
  transition:.4s ease;
}

/* ホバー時に画像ズーム */
.tile:hover .image{
  transform:scale(1.08);
}

.imageHover{
  position:absolute;
  inset:0;
  opacity:0;
  transition:.4s ease;
}

.tile:hover .imageHover{
  opacity:1;
}

.tile:hover .imageNormal{
  opacity:0;
}

.title{
  position:absolute;
  left:14px;
  bottom:14px;
  color:#fff;
  font-weight:bold;
  font-size:18px;
  text-shadow:0 2px 8px rgba(0,0,0,.8);
}
